<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>  
  </tr>
  <!-- Ask a question about why this isnt working on the test -->
  <!-- How to render "No Invoices" using this partial -->
  <%#= render partial: 'invoice', :collection => @invoices %>
  
  <!-- Most abstract version -->
  <%= render(@invoices)  || "There are No Invoices" %>

</table>