<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>  
  </tr>
  <%# <% binding.pry %1> %>
  <%# <%= render partial:"invoice", collection:@invoices %1> %>
    <%= render(@invoices)  || "No Invoices" %>
</table>
