<h2>Open Orders</h2>
<table>
  <tr>
    <th>Order Id</th>
    <th>Product
    <th>Price
    <th>Customer</th>  
  </tr>
  <!-- Using shorthand to pass the @orders collection to render method -->
  <%= render(@orders) || "No Orders" %>
</table>